[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "2.7.1"

[dev-packages]
pylint = "2.9.6"
bandit = "1.7.0"
radon = "5.1.0"
pre-commit = "2.14.0"
mypy = "0.910"
black = "*"
isort = "*"
scalene = "*"

[requires]
python_version = "3.8"
